/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;

  /* Default values */
  /* font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
/* Base styles */

/* Common styles */
.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-title,
.ourportfolio-title {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Common styles */

/* Logo styles */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}
/* Logo styles */

/* Icons styles */

.portfolio-icon {
  width: 64px;
  height: 64px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

/* Icons styles */

/* Header section */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0px;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link:active {
  color: #404bbf;
}

.contacts {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-item {
  margin-right: 40px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Header section */

/* Hero section */
.hero {
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  display: block;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* Hero section */

/* Portfolio section */
.portfolio {
  padding: 120px 0px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio-item {
  width: calc((100% - 72px) / 4);
}

.portfolio-item-title {
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Portfolio section */

/* Team section */
.team {
  background-color: #f4f4fd;
  padding: 120px 0px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-item-img {
  margin-bottom: 32px;
}

.container-description {
  padding: 32px 0;
}

.team-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-item-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

/* .team-social-list {
} */

/* .team-social-item {
} */

/* Team section */

/* Our Portfolio section */
.ourportfolio {
  padding: 120px 0px;
}

.ourportfolio-title {
  margin-bottom: 72px;
}

.ourportfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.ourportfolio-item {
  width: calc((100% - 48px) / 3);
}

.ourportfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourportfolio-item-img {
  margin-bottom: 32px;
  width: 360px;
  height: 300px;
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.ourportfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  padding-left: 16px;
}
.ourportfolio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-left: 16px;
}
/* Our Portfolio section */

/* Footer section */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

/* .footer-list {
} */

/* .footer-item {
} */

/* .social-media-title {
} */

/* .footer-social-list {
} */

/* .footer-social-item {
} */

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 17.5px;
  width: 264px;
}
/* Footer section */
